

<p></p>

<div class="container">

        <div class="panel panel-primary">
                <div class="panel-heading">Gestion Profil</div>
                <div class="panel-body">
                   
                        <form #f="ngForm" (ngSubmit)="onSave(f.value)">
                                
                                <div class="form-group">
                                  <label for="formGroupExampleInput2">Mot de Passe</label>
                                  <input type="text" name="passe" ngModel class="form-control" id="formGroupExampleInput2"  [(ngModel)]="passe">
                                </div>

                     

                                      
                                      
                                      <button  type="submit" class="btn btn-primary">Modifier</button>

                                      
                                    
                                     
                              </form>
                           


                             
                <div>





                        <div>


                                
</div>









 



</div>

</div>



