<p></p>
<div class="container">

        <div class="panel panel-primary">
                <div class="panel-heading">Situation Livraison </div>
                <div class="panel-body">
                    
                        <form #f="ngForm" (ngSubmit)="onSave(f.value)">
                           
                          
                          
                          
                          
                          
                          
                          
                          
                          <div class="card" style="width: 18rem;">
          
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="power">Fournisseurs</label>
                                        <select class="form-control" id="power" required name="id_four" ngModel>
                                          <option *ngFor="let po of items_four" [value]="po._id">{{po.nom}}</option>
                                        </select>
                                      </div>

                                </div>
                              </div> 




                              <div class="card" style="width: 18rem;">
                               
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="power">Livraison</label>
                                        <select class="form-control" id="power" required name="etat" ngModel >
                                          <option [value]="4">Livrer</option>
                                          <option  [value]="3">Non Livrer</option>
                                        </select>
                                      </div>

                                </div>
                              </div> 


                              <button class="btn btn-primary"

                 type="submit">Rechercher</button>


                </form>   
                                

                                
                                  
                                    



                                      

                                      
                                      

                                      
                                    
                                     
                             
                            
            

                             
           





   


<p></p>
<p></p>
<form #fm="ngForm" (ngSubmit)="onSaves(fm.value)">
<table class="table table-sm" >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" *ngIf="etats">Cochez</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Vehicule</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody *ngFor="let f of items_aff;let i = index;">
                  <tr>
                      <th scope="row">{{i+1}}</th>
                      <td *ngIf="etats">
                       
                        <input type="checkbox"
                        name="f"
                        value="{{f.id_aff}}"
 
                        (change)="onClicked(f,$event)">
                        
                    </td>
                    <td>{{f.designation}}</td>
                    <td>{{f.quantite}}</td>
                    <td>{{f.plaque}}</td>
                    <td>{{f.date}}</td>
                   
                  
                  </tr>


                  
                </tbody>
                <tfoot>

                    
                </tfoot>
                
              </table>
              <button class="btn btn-primary"

              type="submit" *ngIf="etats">Enregistrer</button>


            </form>  
          


 



</div>



</div>




