

<p></p>

<div class="container">

        <div class="panel panel-primary">
                <div class="panel-heading">Gestion Utilisateurs</div>
                <div class="panel-body">
                    <div *ngIf="en">
                        <form #f="ngForm" (ngSubmit)="onSave(f.value)">
                                <div class="form-group">
                                    <input type="hidden" name="id_pri" ngModel class="form-control" id="formGroupExampleInput"  [(ngModel)]="id_pri">
                                  <label for="formGroupExampleInput">Nom utilisateur</label>
                                  <input type="text" name="user" ngModel class="form-control" id="formGroupExampleInput" placeholder="Nom User" [(ngModel)]="user">
                                </div>
                                <div class="form-group">
                                  <label for="formGroupExampleInput2">Mot de Passe</label>
                                  <input type="text" name="passe" ngModel class="form-control" id="formGroupExampleInput2"  [(ngModel)]="passe">
                                </div>

                     

                                      
                                      
                                      <button  type="submit" class="btn btn-primary">Enregistrer</button>

                                      
                                    
                                     
                              </form>
                            </div>
                              <div *ngIf="e">
<form>

    <div class="form-group">
        <input type="hidden" name="id_pri" ngModel class="form-control" id="formGroupExampleInput"  [(ngModel)]="id_pri">
      <label for="formGroupExampleInput">Nom Utilisateur</label>
      <input type="text" name="user" ngModel class="form-control" id="formGroupExampleInput" [(ngModel)]="user">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Mot de passe</label>
      <input type="text" name="passe" ngModel class="form-control" id="formGroupExampleInput2"  [(ngModel)]="passe">
    </div>


         

          <button  class="btn btn-primary"  (click)="test(id_pri,user,passe)">Modifier</button>
</form>
</div>

                             
                <div>





                        <div>


                                
</div>


<p></p>
<p></p>

<br/><br/><br/><br/>
<!-- <form #ee="ngForm" (ngSubmit)="envoie(ee.value)">

<div class="form-group">
            
            <input type="text" name="nomv" ngModel class="form-control" id="formGroupExampleInput2" placeholder="Plaque Vehicule"><br/>
             <button  class="btn btn-primary" type="submit">Rechercher</button>
          </div>
          </form> -->


<table class="table table-striped table-hover table-bordered" [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="3" >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom Utilisateur</th>
                    
                    
                    <th scope="col" colspan="3">Options</th>
                  </tr>
                </thead>
                <tbody *ngFor="let f of mf.data;let i = index;">
                  <tr>
                    <th scope="row">{{f._id}}</th>
                   
                    <td>{{f.user}}</td>
                   

                    <td><button class="btn btn-primary  btn-xs glyphicon glyphicon-edit" type="button" (click)="Edit(f._id)"></button></td>
                   <td> <button class="btn btn-danger btn-xs glyphicon glyphicon-trash"

                    (click)="delete(f._id)" type="button" ></button></td>
                  </tr>
          
                </tbody>
                 <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
              </table>






 



</div>

</div>


