<p></p>
<div class="container">

        <div class="panel panel-primary">
                <div class="panel-heading">Rapport</div>
                <div class="panel-body">
                  
              <div class="panel panel-primary" class="col-md-4" *ngIf="droit | async">

                    <div class="panel-heading">Fournisseur</div>
                    <div class="panel-body">

                        <button routerLink="/rapportfournisseur" class="btn btn-primary btn-lg btn-block">Rapport Fournisseur</button>
                        
                      </div>
                     
                 </div>    
                 
                 

                 <div class="panel panel-primary" class="col-md-4">

                    <div class="panel-heading">Vehicules</div>
                    <div class="panel-body">
                        <button type="button" routerLink="/rvoiture" class="btn btn-primary btn-lg btn-block">Rapport Vehicules</button>
<br/><br/>

                        <button type="button" routerLink="/vehicules" class="btn btn-primary btn-lg btn-block">Details Vehicules</button>
                      
                      </div>

                 </div>  


                 <!-- <div class="panel panel-primary" class="col-md-4" *ngIf="droit | async">

                    <div class="panel-heading">Produits</div>
                    <div class="panel-body">

                        <button routerLink="/rapportproduit"   class="btn btn-primary btn-lg btn-block">Rapport Piéce Livrée</button>
                     
                      </div>

                 </div>  -->
            

                       
               


                                
</div>










 



</div>

</div>



